<div style="width: 75%;margin: auto;text-align:center;">
  <h1> Welcome! </h1>
  <div>Добро пожаловать на этот "замечательный" сервис для создания задач. Функционал сайта невероятно мал , но все же лучше чем ничего) Список задач которые были созданы - на странице "Задачи"</div>
  <div><b>Login</b> - Admin</div>
  <div><b>Password</b> - 123</div>
  <img src="biznes-plan08.jpg" alt="rss feed" />
</div>
